
{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}

    <div class="container">
        <h3>Interview Postss</h3>
        <a href="{{url_for('main.new_post')}}">
            <br>
            Add a new Post
        </a>

        <hr>

            {{macro.displayPosts(posts,1)}}    <a href="{{url_for('main.new_comment')}}"> Comment</a>
        <hr>

    </div>

{% endblock %}
